<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>com.FlyAway.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <display-name>FlyAway_AnAirLineBookingPortal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.FlyAway.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AirlineController</display-name>
    <servlet-name>AirlineController</servlet-name>
    <servlet-class>com.FlyAwaycontroller.AirlineController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AirlineController</servlet-name>
    <url-pattern>/AirlineController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAirlineControllerSuccess</display-name>
    <servlet-name>AddAirlineControllerSuccess</servlet-name>
    <servlet-class>com.FlyAway.controllerSucc.AddAirlineControllerSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAirlineControllerSuccess</servlet-name>
    <url-pattern>/AddAirlineControllerSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegisterController</display-name>
    <servlet-name>AdminRegisterController</servlet-name>
    <servlet-class>com.FlyAway.controller.AdminRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegisterController</servlet-name>
    <url-pattern>/AdminRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistrationSuccessController</display-name>
    <servlet-name>AdminRegistrationSuccessController</servlet-name>
    <servlet-class>com.FlyAway.controllerSucc.AdminRegistrationSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistrationSuccessController</servlet-name>
    <url-pattern>/AdminRegistrationSuccessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>com.FlyAway.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightController</display-name>
    <servlet-name>FlightController</servlet-name>
    <servlet-class>com.FlyAway.controller.FlightController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightController</servlet-name>
    <url-pattern>/FlightController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFlightSuccessController</display-name>
    <servlet-name>AddFlightSuccessController</servlet-name>
    <servlet-class>com.FlyAway.controllerSucc.AddFlightSuccessController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFlightSuccessController</servlet-name>
    <url-pattern>/AddFlightSuccessController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlaceController</display-name>
    <servlet-name>PlaceController</servlet-name>
    <servlet-class>com.FlyAway.controller.PlaceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlaceController</servlet-name>
    <url-pattern>/PlaceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPlaceControllerSuccess</display-name>
    <servlet-name>AddPlaceControllerSuccess</servlet-name>
    <servlet-class>com.FlyAway.controllerSucc.AddPlaceControllerSuccess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlaceControllerSuccess</servlet-name>
    <url-pattern>/AddPlaceControllerSuccess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingController</display-name>
    <servlet-name>BookingController</servlet-name>
    <servlet-class>com.FlyAway.controller.BookingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingController</servlet-name>
    <url-pattern>/BookingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PaymentController</display-name>
    <servlet-name>PaymentController</servlet-name>
    <servlet-class>com.FlyAway.controller.PaymentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaymentController</servlet-name>
    <url-pattern>/PaymentController</url-pattern>
  </servlet-mapping>
</web-app>